h1 Status
h3=hostInfo.uri

.my-3 
  .table-responsive
    table.table
      tbody
        for item, index in versionInfo
          th(scope="row")=index
          td=item
        for item, index in memoryInfo
          tr
            th(scope="row")=index
            td=item
        for item, index in hostInfo
          tr
            th(scope="row")=index
            td=item
